:root {
    --screen-height: 500px;
    --screen-width: 1000px;
    --div-h: 20px;
}

.div-h {
    height: var(--div-h);
}

* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

#game-screen {
    height: var(--screen-height);
    width: var(--screen-width);
}

#sky {
    background-color: #1f5d8b;
    position: relative;
    overflow: hidden;
    width: var(--screen-width);
    height: calc(var(--screen-height) / 2);
}

@keyframes cloud-move {
    0% {
        transform: scale();
    }
    25% {
        transform: scale();
    }
}

.cloud {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 50px;
    background: url("assets/images/cloud.png") no-repeat;
    background-size: contain;
    animation: cloud-move 10s linear infinite;
}

@keyframes orca-move-left {
    from {
        left: var(--screen-width);
    }
    to {
        left: 40px;
    }
}

.orca-animation {
    animation: orca-move-left 3s 1;
}

#water-screen {
    background: linear-gradient(#82a9c6, #04253e);
    height: calc(var(--screen-height) / 2);
    overflow: hidden;
    width: var(--screen-width);
}

#tarzan {
    /* border: 1px solid white; */
    height: 50px;
    left: 100px;
    position: relative;
    top: 0px;
    width: 100px;
}

#orca {
    /* border: 1px solid white; */
    height: 40px;
    position: relative;
    left: var(--screen-width);
    top: 180px;
    width: 120px;
}

#game-prompts {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8em;
    position: absolute;
}

#console {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#text-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

#text-screen {
    display: flex;
    font-family: "Times New Roman";
    font-size: 16px;
    flex-direction: column;
    height: 1em;
    justify-content: center;
}

#typing-area {
    height: 1.2em;
    font-family: "Times New Roman";
    font-size: 16px;
    color: black;
    padding: 10px;
    resize: vertical;
    width: 85%;
}

.settings {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.speed-button {
    width: 60px;
}
